*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.main{
    margin-top: 170px !important;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}


.main h1{
    font-family: sans-serif;
    margin: 5px;
}


.main h2{
    margin: 5px;
    font-family: sans-serif;
    color: gray;
}

.main img{
    height: 120px;
    width: auto;
}


/* HEADER POCETAK*/

.header li, .header p , .pomocni li, .header h3{
    font-family: sans-serif;
}

.img-div{
    display: flex;
    align-items: center;
}

.img-div h3{
    display: inline;
    color: white
}

.img-div span{
    color:yellow;
}

.header img{
    margin-left: 5px;
    height: 50px;
    width: auto;
    padding: 5px;
}


.header{
    background-color: rgb(43, 43, 181);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header button{
    display: none;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    margin-right: 7px;
}

.header button:hover{
    background-color: white;
    border: 2px solid rgb(43, 43, 181);
    color: rgb(43, 43, 181);
}

.header li{
    display: inline;
    list-style: none;
}

.header ul li a{
    margin: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid transparent;
}

.header ul li a:hover{
    background-color: white;
    color: rgb(43, 43, 181);
    border-radius: 3px;
}

@media (max-width: 1000px){
    .header button{
        display: block;
    }

    .header ul{
        display: none;
    }
}


@media (min-width: 1001px){
    .pomocni {
        display: none !important; 
        
    }
}


.pomocni{
    background-color: rgb(75, 75, 206);
    display: block;
}

.pomocni li{
    list-style: none;
}

.pomocni a{
   color: white; 
   text-decoration: none;
}

.pomocni a:hover{
    font-weight: bold;
}

.pomocni li{
    margin-left: 10px;
    padding: 7px;
}
 

/* HEADER KRAJ */



#go-back-btn{
	padding: 10px 30px;
	font-size: 18px;
    border: 2px solid rgb(43, 43, 181);
    border-radius: 5px;
    color: white;
    background-color: rgb(43, 43, 181);
    font-weight: bold;
    margin-top: 30px;
}

.btn-div{
    text-align: center;
}

#go-back-btn:hover{
    background-color: white;
    color: rgb(43, 43, 181);
}


.header{
    position: sticky;
    top: 0;
}


/* FOOTER */

.footer{
    padding: 10px 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 43, 181);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    font-family: sans-serif;
}

.footer-images img{
    height: 25px;
    width: auto;
    margin: 5px;
}

.footer-images{
    margin-right: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.footer-content img{
    height: 13px;
    width: auto;
    margin: 0px 5px;
}